/* selector {property:value; property:value;} */
/* remove need for styling within html */

h1, h2 {
    color: white;
    text-align: center;
    font-size: x-large;
}

body {
    background-color: rgba(0, 128, 0, 0.3); /* green background, 30% opacity */
}

.right {
    text-align: right;
    color: green;
}

#poem {
    font-weight: bold;
}

/* universal selector */
* {
    font-family: sans-serif;
}