<!DOCTYPE html>
<html lang = "en-US">
    
    <script src="https://kit.fontawesome.com/6f089f4ceb.js" crossorigin="anonymous"></script>
<!-- link rel = "icon_sheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -->

    <head>
        <link rel = "stylesheet" href = "../style/stylesheet.css">
        <title>Reyna's Project Blog</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@313;400&display=swap" rel="stylesheet">
    </head>

    <h1 id = "main_header">Reyna's Project Blog</h1>
    <ul id = "navbar">
        <li class = "page"><a href = "https://github.com/reyna-n-robots/Reynas_Blog" target = "_blank" rel = "noopener noreferrer">view source code</a></li>
        <li class = "page"><a href = "art.html">art</a></li>
        <li class = "page"><a href = "engineering.html">engineering</a></li>
        <li class = "page"><a href = "writing.html">writing</a></li>
        <li class = "page"><a href = "about_me.html">about me</a></li>
        <li class = "page"><a href = "../index.html">home</a> </li>
    </ul>

    <body>
        
        <h2 id = "about_me_header">About Me</h2>
        <img src = "../images/nasa_shirt.jpg" alt = "photo of me" class = "center nasa_shirt" width = 50%>

    </body>

    <footer>
        <!-- Font Awesome https://fontawesome.com/icons/paper-plane?style=solid -->
        <a href = "mailto:reyna.j.ayala@gmail.com"><i class = "fa fa-paper-plane"></i></a>
        <a href = "https://github.com/reyna-n-robots" target = "_blank" rel = "noopener noreferrer"><i class = "fa fa-github"></i></a>
        <a href = "https://www.instagram.com/reyna.j.a/" target = "_blank" rel = "noopener noreferrer"><i class = "fab fa-instagram-square"></i></a>
        <a href = "https://www.linkedin.com/in/reyna-ayala-182bba183/" target = "_blank" rel = "noopener noreferrer"><i class = "fab fa-linkedin"></i></a>
        <a href = "https://www.youtube.com/channel/UCAlJ-cOlvKwhEa8Z4AFpEWA" target = "_blank" rel = "noopener noreferrer"><i class = "fab fa-youtube"></i></a>
        <p class = "foot">Have a question? Feel free to contact me!</p>
    </footer>

</html>